body {
    background-color: #c23b2680; /* Couleur de fond corrigée */
    margin: 0;
    height: 100vh;
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.rectangle {
    width: 1200px; /* Largeur du rectangle */
    height: 400px; /* Hauteur du rectangle */
    background-color: #be292980; /* Couleur de fond du rectangle */
    padding: 20px; /* Espacement intérieur */
    box-shadow: 50px 50px 60px rgba(232, 0, 0, 0.5); /* Ombre pour un effet de carte */
    color: white; /* Couleur du texte */
    text-align: center; /* Centrer le texte */
}
.rectangle h1 {
    font-size: 28px; /* Taille de police pour le titre principal */
    margin: 5px 0; /* Réduire l'espacement vertical */
}

.rectangle h2 {
    font-size: 24px; /* Taille de police pour les sous-titres */
    margin: 5px 0; /* Réduire l'espacement vertical */
}

.rectangle p {
    font-size: 14px; /* Taille de police pour le texte et les listes */
    margin: 5px 0; /* Réduire l'espacement vertical */
}
